name: Build & Deploy to Server (Reusable)
on:
  workflow_call:
    inputs:
      image_name:
        description: "Image name for GHCR"
        required: true
        type: string
      service_name:
        description: "Service name for deployment"
        required: true
        type: string
    secrets:
      DOCKERHUB_USER:
        required: true
      DOCKERHUB_TOKEN:
        required: true
jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.0

      - name: Set image tag (short commit)
        id: vars
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          IMAGE="ghcr.io/${{ secrets.DOCKERHUB_USER }}/${{ inputs.image_name }}:${{ github.sha }}"
          docker build -t $IMAGE .
          docker push $IMAGE

  deploy:
    runs-on: ${{
      github.ref_name == 'main' && 'edu-runner' ||
      github.ref_name == 'dev' && 'dev-runner'
      }}
    needs: build-and-push
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Deploy to Production
        run: |
          docker pull $IMAGE
          docker service update \
            --force \
            --with-registry-auth \
            --detach=false \
            --image $IMAGE \
            ${{ inputs.service_name }}         
          docker container prune -f
